Repository stacks-network/docs, pull requests merged in 2020-12, with the labels that each got.

#885 Feat/top lvl blockchain
  next.config.js
  package.json
  public/images/pages/build-apps-sm.svg
  public/images/pages/build-apps.svg
  public/images/pages/start-mining-sm.svg
  public/images/pages/start-mining.svg
  public/images/pages/write-smart-contracts-sm.svg
  public/images/pages/write-smart-contracts.svg
  src/common/navigation.yaml
  src/common/utils/faqs.ts
  src/pages/404.md
  src/pages/build-apps.md
  src/pages/ecosystem/contributing.md
  src/pages/index.md
  src/pages/references/language-types.md
  src/pages/references/stacks-node-configuration.md
  src/pages/start-mining.md
  src/pages/understand-stacks/accounts.md
  src/pages/understand-stacks/atlas-how-it-works.md
  src/pages/understand-stacks/atlas-overview.md
  src/pages/understand-stacks/atlas-usage.md
  src/pages/understand-stacks/best-practices.md
  src/pages/understand-stacks/install-api.md
  src/pages/understand-stacks/installing-memcached.md
  src/pages/understand-stacks/integrate-stacking.md
  src/pages/understand-stacks/local-development.md
  src/pages/understand-stacks/managing-accounts.md
  src/pages/understand-stacks/mining.md
  src/pages/understand-stacks/network.md
  src/pages/understand-stacks/overview.md
  src/pages/understand-stacks/proof-of-transfer.md
  src/pages/understand-stacks/running-testnet-node.md
  src/pages/understand-stacks/sending-tokens.md
  src/pages/understand-stacks/stacking.md
  src/pages/understand-stacks/stacks-1.0-info.md
  src/pages/understand-stacks/technical-specs.md
  src/pages/understand-stacks/testnet.md
  src/pages/understand-stacks/transactions.md
  src/pages/understand-stacks/wire-format.md
  src/pages/write-smart-contracts/cli-wallet-quickstart.md
  src/pages/write-smart-contracts/counter-tutorial.md
  src/pages/write-smart-contracts/hello-world-tutorial.md
  src/pages/write-smart-contracts/install-source.md
  src/pages/write-smart-contracts/overview.md
  src/pages/write-smart-contracts/principals.md
  src/pages/write-smart-contracts/public-registry-tutorial.md
  src/pages/write-smart-contracts/signing-transactions.md
  src/pages/write-smart-contracts/testing-contracts.md
  src/pages/write-smart-contracts/values.md
Labels: documentation

#960 Adding missing redirects from top lvl chapter change
  next.config.js
Labels: bug

#966 Update Stacks overview page
  src/pages/understand-stacks/accounts.md
  src/pages/understand-stacks/integrate-stacking.md
  src/pages/understand-stacks/network.md
  src/pages/understand-stacks/overview.md
  src/pages/understand-stacks/proof-of-transfer.md
  src/pages/understand-stacks/transactions.md
Labels: copy, enhancement
