Repository stacks-network/docs, pull requests merged in 2022-08, with the labels that each got.

#1490 New Crowdin updates
  docs/write-smart-contracts/clarity-language/language-functions.md
  i18n/de/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/de/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/es/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/fr/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/fr/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/hi/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/hi/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/id/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/id/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/ja/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/ja/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/ko/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/ko/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/pt/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/pt/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/ru/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/ru/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/tr/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/tr/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/vi/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/vi/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/zh/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/zh/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
Labels: translations

#1494 feat: docusaurus upgrade to stable version
  package-lock.json
  package.json
Labels: dependencies

#1495 New Crowdin updates
  docs/write-smart-contracts/clarity-language/language-functions.md
  i18n/de/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/fr/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/hi/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/id/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/ja/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/ko/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/pt/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/ru/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/tr/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/vi/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/zh/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
Labels: translations

#1496 New Crowdin updates
  docs/write-smart-contracts/clarity-language/language-functions.md
  i18n/de/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/fr/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/hi/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/id/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/ja/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/ko/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/pt/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/ru/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/tr/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/vi/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/zh/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
Labels: translations

#1497 New Crowdin updates
  i18n/de/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/fr/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/hi/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/id/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/ja/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/ko/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/pt/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/ru/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/tr/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/vi/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/zh/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
Labels: translations

#1498 Mac M1 Fix
  package-lock.json
  tailwind.config.js
Labels: bug

#1501 New Crowdin updates
  i18n/es/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/es/docusaurus-plugin-content-docs/current/contribute/translations.md
Labels: translations

#1499 fix: issue 1473
  docusaurus.config.js
Labels: docusaurus-config

#1502 New Crowdin updates
  i18n/es/docusaurus-plugin-content-docs/current/gaia/gaia.md
Labels: translations

#1500 Vercel Analytics fix
  package-lock.json
  package.json
  src/components/HomepageFeatures/reportWebVitals.js
  src/pages/index.js
Labels: feature, dependencies

#1503 New Crowdin updates
  i18n/es/docusaurus-plugin-content-docs/current/gaia/gaia-on-ec2.md
  i18n/es/docusaurus-plugin-content-docs/current/gaia/setup-linux.md
  i18n/es/docusaurus-plugin-content-docs/current/gaia/setup-mac.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/transactions.md
Labels: translations

#1505 New Crowdin updates
  i18n/es/docusaurus-plugin-content-docs/current/gaia/gaia.md
Labels: translations

#1512 New Crowdin updates
  i18n/de/docusaurus-plugin-content-docs/current/gaia/gaia.md
  i18n/es/docusaurus-plugin-content-docs/current/gaia/gaia.md
  i18n/fr/docusaurus-plugin-content-docs/current/gaia/gaia.md
  i18n/hi/docusaurus-plugin-content-docs/current/gaia/gaia.md
  i18n/id/docusaurus-plugin-content-docs/current/gaia/gaia.md
  i18n/ja/docusaurus-plugin-content-docs/current/gaia/gaia.md
  i18n/ko/docusaurus-plugin-content-docs/current/gaia/gaia.md
  i18n/pt/docusaurus-plugin-content-docs/current/gaia/gaia.md
  i18n/ru/docusaurus-plugin-content-docs/current/gaia/gaia.md
  i18n/tr/docusaurus-plugin-content-docs/current/gaia/gaia.md
  i18n/vi/docusaurus-plugin-content-docs/current/gaia/gaia.md
  i18n/zh/docusaurus-plugin-content-docs/current/gaia/gaia.md
Labels: translations

#1514 New Crowdin updates
  i18n/de/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/de/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/es/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/es/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/fr/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/fr/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/hi/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/hi/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/id/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/id/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/ja/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/ko/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/ko/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/pt/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/pt/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/ru/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/ru/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/tr/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/tr/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/vi/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/vi/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/zh/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/zh/docusaurus-plugin-content-docs/current/governance/sips.md
Labels: translations

#1516 New Crowdin updates
  i18n/es/docusaurus-plugin-content-docs/current/gaia/gaia.md
Labels: translations

#1518 New Crowdin updates
  i18n/de/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/es/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/fr/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/hi/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/id/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/ko/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/pt/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/ru/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/tr/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/vi/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/zh/docusaurus-plugin-content-docs/current/governance/index.md
Labels: translations

#1521 New Crowdin updates
  i18n/de/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/de/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/de/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/es/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/es/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/es/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/fr/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/fr/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/fr/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/hi/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/hi/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/hi/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/id/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/id/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/id/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/ja/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/ja/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/ko/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/ko/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/ko/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/pt/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/pt/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/pt/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/ru/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/ru/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/ru/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/tr/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/tr/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/tr/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/vi/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/vi/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/vi/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/zh/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/zh/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/zh/docusaurus-plugin-content-docs/current/governance/sips.md
Labels: translations

#1526 blockchain-api and releases
  docs/blockchain/networks.md
  docs/blockchain/stacks-blockchain-api.md
  docs/blockchain/stacks-releases.md
  docs/understand-stacks/stacks-blockchain-api.md
  docs/understand-stacks/testnet.md
  docusaurus.config.js
Labels: docusaurus-config

#1523 New Crowdin updates
  i18n/de/docusaurus-plugin-content-docs/current/blockchain/networks.md
  i18n/de/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/de/docusaurus-plugin-content-docs/current/understand-stacks/stacks-blockchain-api.md
  i18n/de/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/es/docusaurus-plugin-content-docs/current/blockchain/networks.md
  i18n/es/docusaurus-plugin-content-docs/current/gaia/gaia.md
  i18n/es/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/es/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/stacks-blockchain-api.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/fr/docusaurus-plugin-content-docs/current/blockchain/networks.md
  i18n/fr/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/fr/docusaurus-plugin-content-docs/current/understand-stacks/stacks-blockchain-api.md
  i18n/fr/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/hi/docusaurus-plugin-content-docs/current/blockchain/networks.md
  i18n/hi/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/hi/docusaurus-plugin-content-docs/current/understand-stacks/stacks-blockchain-api.md
  i18n/hi/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/id/docusaurus-plugin-content-docs/current/blockchain/networks.md
  i18n/id/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/id/docusaurus-plugin-content-docs/current/understand-stacks/stacks-blockchain-api.md
  i18n/id/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/ja/docusaurus-plugin-content-docs/current/blockchain/networks.md
  i18n/ja/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/understand-stacks/stacks-blockchain-api.md
  i18n/ja/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/ko/docusaurus-plugin-content-docs/current/blockchain/networks.md
  i18n/ko/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/ko/docusaurus-plugin-content-docs/current/understand-stacks/stacks-blockchain-api.md
  i18n/ko/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/pt/docusaurus-plugin-content-docs/current/blockchain/networks.md
  i18n/pt/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/pt/docusaurus-plugin-content-docs/current/understand-stacks/stacks-blockchain-api.md
  i18n/pt/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/ru/docusaurus-plugin-content-docs/current/blockchain/networks.md
  i18n/ru/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/ru/docusaurus-plugin-content-docs/current/understand-stacks/stacks-blockchain-api.md
  i18n/ru/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/tr/docusaurus-plugin-content-docs/current/blockchain/networks.md
  i18n/tr/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/tr/docusaurus-plugin-content-docs/current/understand-stacks/stacks-blockchain-api.md
  i18n/tr/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/vi/docusaurus-plugin-content-docs/current/blockchain/networks.md
  i18n/vi/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/vi/docusaurus-plugin-content-docs/current/understand-stacks/stacks-blockchain-api.md
  i18n/vi/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/zh/docusaurus-plugin-content-docs/current/blockchain/networks.md
  i18n/zh/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/zh/docusaurus-plugin-content-docs/current/understand-stacks/stacks-blockchain-api.md
  i18n/zh/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
Labels: translations

#1529 New Crowdin updates
  i18n/de/docusaurus-plugin-content-docs/current/blockchain/stacks-blockchain-api.md
  i18n/de/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/es/docusaurus-plugin-content-docs/current/blockchain/stacks-blockchain-api.md
  i18n/es/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/es/docusaurus-plugin-content-docs/current/gaia/gaia.md
  i18n/fr/docusaurus-plugin-content-docs/current/blockchain/stacks-blockchain-api.md
  i18n/fr/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/hi/docusaurus-plugin-content-docs/current/blockchain/stacks-blockchain-api.md
  i18n/hi/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/id/docusaurus-plugin-content-docs/current/blockchain/stacks-blockchain-api.md
  i18n/id/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/ja/docusaurus-plugin-content-docs/current/blockchain/stacks-blockchain-api.md
  i18n/ja/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/ko/docusaurus-plugin-content-docs/current/blockchain/stacks-blockchain-api.md
  i18n/ko/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/pt/docusaurus-plugin-content-docs/current/blockchain/stacks-blockchain-api.md
  i18n/pt/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/ru/docusaurus-plugin-content-docs/current/blockchain/stacks-blockchain-api.md
  i18n/ru/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/tr/docusaurus-plugin-content-docs/current/blockchain/stacks-blockchain-api.md
  i18n/tr/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/vi/docusaurus-plugin-content-docs/current/blockchain/stacks-blockchain-api.md
  i18n/vi/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/zh/docusaurus-plugin-content-docs/current/blockchain/stacks-blockchain-api.md
  i18n/zh/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
Labels: translations

#1532 New Crowdin updates
  i18n/de/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/es/docusaurus-plugin-content-docs/current/gaia/gaia.md
  i18n/es/docusaurus-plugin-content-docs/current/governance/index.md
  i18n/es/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/fr/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/hi/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/id/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/ja/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/ko/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/pt/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/ru/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/tr/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/vi/docusaurus-plugin-content-docs/current/governance/sips.md
  i18n/zh/docusaurus-plugin-content-docs/current/governance/sips.md
Labels: translations

#1533 New Crowdin updates
  i18n/de/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/es/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/fr/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/hi/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/id/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/ja/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/ko/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/pt/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/ru/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/tr/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/vi/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
  i18n/zh/docusaurus-plugin-content-docs/current/blockchain/stacks-releases.md
Labels: translations

#1534 Run a Stacks node
  docs/nodes-and-miners/digitalocean.md
  docs/nodes-and-miners/miner-mainnet.md
  docs/nodes-and-miners/miner-testnet.md
  docs/nodes-and-miners/run-a-node.md
  docs/nodes-and-miners/running-mainnet-node.md
  docs/nodes-and-miners/running-testnet-node.md
  docs/nodes-and-miners/stacks-node-configuration.md
  docusaurus.config.js
Labels: docusaurus-config

#1538 New Crowdin updates
  i18n/de/docusaurus-plugin-content-docs/current/nodes-and-miners/digitalocean.md
  i18n/de/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-mainnet.md
  i18n/de/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-testnet.md
  i18n/de/docusaurus-plugin-content-docs/current/nodes-and-miners/stacks-node-configuration.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/digitalocean.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-mainnet.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-testnet.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/stacks-node-configuration.md
  i18n/fr/docusaurus-plugin-content-docs/current/nodes-and-miners/digitalocean.md
  i18n/fr/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-mainnet.md
  i18n/fr/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-testnet.md
  i18n/fr/docusaurus-plugin-content-docs/current/nodes-and-miners/stacks-node-configuration.md
  i18n/hi/docusaurus-plugin-content-docs/current/nodes-and-miners/digitalocean.md
  i18n/hi/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-mainnet.md
  i18n/hi/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-testnet.md
  i18n/hi/docusaurus-plugin-content-docs/current/nodes-and-miners/stacks-node-configuration.md
  i18n/id/docusaurus-plugin-content-docs/current/nodes-and-miners/digitalocean.md
  i18n/id/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-mainnet.md
  i18n/id/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-testnet.md
  i18n/id/docusaurus-plugin-content-docs/current/nodes-and-miners/stacks-node-configuration.md
  i18n/ja/docusaurus-plugin-content-docs/current/nodes-and-miners/digitalocean.md
  i18n/ja/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-mainnet.md
  i18n/ja/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-testnet.md
  i18n/ja/docusaurus-plugin-content-docs/current/nodes-and-miners/stacks-node-configuration.md
  i18n/ko/docusaurus-plugin-content-docs/current/nodes-and-miners/digitalocean.md
  i18n/ko/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-mainnet.md
  i18n/ko/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-testnet.md
  i18n/ko/docusaurus-plugin-content-docs/current/nodes-and-miners/stacks-node-configuration.md
  i18n/pt/docusaurus-plugin-content-docs/current/nodes-and-miners/digitalocean.md
  i18n/pt/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-mainnet.md
  i18n/pt/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-testnet.md
  i18n/pt/docusaurus-plugin-content-docs/current/nodes-and-miners/stacks-node-configuration.md
  i18n/ru/docusaurus-plugin-content-docs/current/nodes-and-miners/digitalocean.md
  i18n/ru/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-mainnet.md
  i18n/ru/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-testnet.md
  i18n/ru/docusaurus-plugin-content-docs/current/nodes-and-miners/stacks-node-configuration.md
  i18n/tr/docusaurus-plugin-content-docs/current/nodes-and-miners/digitalocean.md
  i18n/tr/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-mainnet.md
  i18n/tr/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-testnet.md
  i18n/tr/docusaurus-plugin-content-docs/current/nodes-and-miners/stacks-node-configuration.md
  i18n/vi/docusaurus-plugin-content-docs/current/nodes-and-miners/digitalocean.md
  i18n/vi/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-mainnet.md
  i18n/vi/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-testnet.md
  i18n/vi/docusaurus-plugin-content-docs/current/nodes-and-miners/stacks-node-configuration.md
  i18n/zh/docusaurus-plugin-content-docs/current/nodes-and-miners/digitalocean.md
  i18n/zh/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-mainnet.md
  i18n/zh/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-testnet.md
  i18n/zh/docusaurus-plugin-content-docs/current/nodes-and-miners/stacks-node-configuration.md
Labels: translations

#1537 restore link check
  docusaurus.config.js
Labels: docusaurus-config

#1539 New Crowdin updates
  i18n/de/docusaurus-plugin-content-docs/current/nodes-and-miners/run-a-node.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/run-a-node.md
  i18n/fr/docusaurus-plugin-content-docs/current/nodes-and-miners/run-a-node.md
  i18n/hi/docusaurus-plugin-content-docs/current/nodes-and-miners/run-a-node.md
  i18n/id/docusaurus-plugin-content-docs/current/nodes-and-miners/run-a-node.md
  i18n/ja/docusaurus-plugin-content-docs/current/nodes-and-miners/run-a-node.md
  i18n/ko/docusaurus-plugin-content-docs/current/nodes-and-miners/run-a-node.md
  i18n/pt/docusaurus-plugin-content-docs/current/nodes-and-miners/run-a-node.md
  i18n/ru/docusaurus-plugin-content-docs/current/nodes-and-miners/run-a-node.md
  i18n/tr/docusaurus-plugin-content-docs/current/nodes-and-miners/run-a-node.md
  i18n/vi/docusaurus-plugin-content-docs/current/nodes-and-miners/run-a-node.md
  i18n/zh/docusaurus-plugin-content-docs/current/blockchain/index.md
  i18n/zh/docusaurus-plugin-content-docs/current/nodes-and-miners/digitalocean.md
  i18n/zh/docusaurus-plugin-content-docs/current/nodes-and-miners/run-a-node.md
Labels: translations
