Repository stacks-network/docs, pull requests merged in 2022-06, with the labels that each got.

#1411 Contributing to the docs update
  src/pages/en/contribute/docs.md
Labels: documentation

#1414 New Crowdin updates
  src/pages/fr/nodes-and-miners/miner-mainnet.md
  src/pages/fr/nodes-and-miners/miner-testnet.md
Labels: translations

#1415 updated nocodeclarity instructions pdf link
  src/pages/en/build-apps/nocodeclarity.md
Labels: documentation

#1425 New Crowdin updates
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/index.md
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/references/references.md
  i18n/id/docusaurus-plugin-content-docs/current/intro.md
  i18n/id/docusaurus-plugin-content-docs/current/nodes-and-miners/digitalocean.md
Labels: translations

#1426 New Crowdin updates
  i18n/es/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/es/docusaurus-plugin-content-docs/current/faq/faq.md
  i18n/es/docusaurus-plugin-content-docs/current/gaia/configuration.md
  i18n/es/docusaurus-plugin-content-docs/current/gaia/deploy-gaia-hub.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-types.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/index.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/principals.md
  i18n/id/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
Labels: translations

#1427 clarity functions
  docs/write-smart-contracts/clarity-language/language-functions.md
Labels: bug

#1429 New Crowdin updates
  i18n/de/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/de/docusaurus-plugin-content-docs/current/faq/faq.md
  i18n/de/docusaurus-plugin-content-docs/current/gaia/gaia-on-ec2.md
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/deploy-tips.md
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/references/authentication.md
  i18n/es/docusaurus-plugin-content-docs/current/faq/faq.md
  i18n/es/docusaurus-plugin-content-docs/current/gaia/gaia-on-ec2.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/digitalocean.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-mainnet.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-testnet.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/running-mainnet-node.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/running-testnet-node.md
  i18n/es/docusaurus-plugin-content-docs/current/noteworthy-contracts/stacking-contract.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/accounts.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/index.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/microblocks.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/mining.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/stacking.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/stacks-blockchain-api.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/transactions.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-keywords.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/tokens.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/values.md
  i18n/fr/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/fr/docusaurus-plugin-content-docs/current/faq/faq.md
  i18n/fr/docusaurus-plugin-content-docs/current/gaia/gaia-on-ec2.md
  i18n/hi/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/hi/docusaurus-plugin-content-docs/current/faq/faq.md
  i18n/hi/docusaurus-plugin-content-docs/current/gaia/gaia-on-ec2.md
  i18n/id/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/id/docusaurus-plugin-content-docs/current/faq/faq.md
  i18n/id/docusaurus-plugin-content-docs/current/gaia/gaia-on-ec2.md
  i18n/ja/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/ja/docusaurus-plugin-content-docs/current/faq/faq.md
  i18n/ja/docusaurus-plugin-content-docs/current/gaia/gaia-on-ec2.md
  i18n/ko/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/ko/docusaurus-plugin-content-docs/current/faq/faq.md
  i18n/ko/docusaurus-plugin-content-docs/current/gaia/gaia-on-ec2.md
  i18n/pt/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/pt/docusaurus-plugin-content-docs/current/faq/faq.md
  i18n/pt/docusaurus-plugin-content-docs/current/gaia/gaia-on-ec2.md
  i18n/ru/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/ru/docusaurus-plugin-content-docs/current/faq/faq.md
  i18n/ru/docusaurus-plugin-content-docs/current/gaia/gaia-on-ec2.md
  i18n/tr/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/tr/docusaurus-plugin-content-docs/current/faq/faq.md
  i18n/tr/docusaurus-plugin-content-docs/current/gaia/gaia-on-ec2.md
  i18n/vi/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/vi/docusaurus-plugin-content-docs/current/faq/faq.md
  i18n/vi/docusaurus-plugin-content-docs/current/gaia/gaia-on-ec2.md
  i18n/zh/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/zh/docusaurus-plugin-content-docs/current/faq/faq.md
  i18n/zh/docusaurus-plugin-content-docs/current/gaia/gaia-on-ec2.md
Labels: translations

#1436 New Crowdin updates
  i18n/de/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/es/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/fr/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/hi/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/id/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/ja/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/ko/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/pt/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/ru/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/tr/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/vi/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/zh/docusaurus-plugin-content-docs/current/contribute/docs.md
Labels: translations

#1438 New Crowdin updates
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/deploy-tips.md
Labels: translations

#1439 New Crowdin updates
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/deploy-tips.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/accounts.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/transactions.md
Labels: translations

#1440 New Crowdin updates
  i18n/de/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/deploy-tips.md
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/references/authentication.md
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/references/references.md
  i18n/es/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/running-mainnet-node.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/running-testnet-node.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/technical-specs.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/software.md
  i18n/fr/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/hi/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/id/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/ja/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/ko/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/pt/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/ru/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/tr/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/vi/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/zh/docusaurus-plugin-content-docs/current/contribute/docs.md
Labels: translations

#1441 Multiple updates
  calculatestats.sh
  docs/build-apps/nocodeclarity.md
  docs/contribute/index.md
  docs/intro.md
  docs/nodes-and-miners/running-testnet-node.md
Labels: documentation

#1442 New Crowdin updates
  i18n/de/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/de/docusaurus-plugin-content-docs/current/contribute/index.md
  i18n/de/docusaurus-plugin-content-docs/current/intro.md
  i18n/de/docusaurus-plugin-content-docs/current/nodes-and-miners/running-testnet-node.md
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/es/docusaurus-plugin-content-docs/current/contribute/index.md
  i18n/es/docusaurus-plugin-content-docs/current/intro.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/running-testnet-node.md
  i18n/fr/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/fr/docusaurus-plugin-content-docs/current/contribute/index.md
  i18n/fr/docusaurus-plugin-content-docs/current/intro.md
  i18n/fr/docusaurus-plugin-content-docs/current/nodes-and-miners/running-testnet-node.md
  i18n/hi/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/hi/docusaurus-plugin-content-docs/current/contribute/index.md
  i18n/hi/docusaurus-plugin-content-docs/current/intro.md
  i18n/hi/docusaurus-plugin-content-docs/current/nodes-and-miners/running-testnet-node.md
  i18n/id/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/id/docusaurus-plugin-content-docs/current/contribute/index.md
  i18n/id/docusaurus-plugin-content-docs/current/intro.md
  i18n/id/docusaurus-plugin-content-docs/current/nodes-and-miners/running-testnet-node.md
  i18n/ja/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/ja/docusaurus-plugin-content-docs/current/contribute/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/intro.md
  i18n/ja/docusaurus-plugin-content-docs/current/nodes-and-miners/running-testnet-node.md
  i18n/ko/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/ko/docusaurus-plugin-content-docs/current/contribute/index.md
  i18n/ko/docusaurus-plugin-content-docs/current/intro.md
  i18n/ko/docusaurus-plugin-content-docs/current/nodes-and-miners/running-testnet-node.md
  i18n/pt/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/pt/docusaurus-plugin-content-docs/current/contribute/index.md
  i18n/pt/docusaurus-plugin-content-docs/current/intro.md
  i18n/pt/docusaurus-plugin-content-docs/current/nodes-and-miners/running-testnet-node.md
  i18n/ru/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/ru/docusaurus-plugin-content-docs/current/contribute/index.md
  i18n/ru/docusaurus-plugin-content-docs/current/intro.md
  i18n/ru/docusaurus-plugin-content-docs/current/nodes-and-miners/running-testnet-node.md
  i18n/tr/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/tr/docusaurus-plugin-content-docs/current/contribute/index.md
  i18n/tr/docusaurus-plugin-content-docs/current/intro.md
  i18n/tr/docusaurus-plugin-content-docs/current/nodes-and-miners/running-testnet-node.md
  i18n/vi/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/vi/docusaurus-plugin-content-docs/current/contribute/index.md
  i18n/vi/docusaurus-plugin-content-docs/current/intro.md
  i18n/vi/docusaurus-plugin-content-docs/current/nodes-and-miners/running-testnet-node.md
  i18n/zh/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/zh/docusaurus-plugin-content-docs/current/contribute/index.md
  i18n/zh/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh/docusaurus-plugin-content-docs/current/nodes-and-miners/running-testnet-node.md
Labels: translations

#1443 New Crowdin updates
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/references/authentication.md
  i18n/es/docusaurus-plugin-content-docs/current/contribute/docs.md
Labels: translations

#1444 New Crowdin updates
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-functions.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/clarity-language/language-keywords.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/resources.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/values.md
Labels: translations

#1446 Add NFT page
  README.md
  calculatestats.sh
  docs/references/glossary.md
  docs/references/nft.md
  docusaurus.config.js
  static/img/sh_nft_byzantion.png
  static/img/sh_nft_gamma.png
  static/img/sh_nft_megapont.png
  static/img/sh_nft_stacksart.png
Labels: docusaurus-config

#1445 New Crowdin updates
  i18n/de/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/de/docusaurus-plugin-content-docs/current/references/nft.md
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/deploy-tips.md
  i18n/es/docusaurus-plugin-content-docs/current/gaia/setup-linux.md
  i18n/es/docusaurus-plugin-content-docs/current/intro.md
  i18n/es/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/es/docusaurus-plugin-content-docs/current/references/nft.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/index.md
  i18n/fr/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/fr/docusaurus-plugin-content-docs/current/references/nft.md
  i18n/hi/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/hi/docusaurus-plugin-content-docs/current/references/nft.md
  i18n/id/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/id/docusaurus-plugin-content-docs/current/references/nft.md
  i18n/ja/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/ja/docusaurus-plugin-content-docs/current/references/nft.md
  i18n/ko/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/ko/docusaurus-plugin-content-docs/current/references/nft.md
  i18n/pt/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/pt/docusaurus-plugin-content-docs/current/references/nft.md
  i18n/ru/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/ru/docusaurus-plugin-content-docs/current/references/nft.md
  i18n/tr/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/tr/docusaurus-plugin-content-docs/current/references/nft.md
  i18n/vi/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/vi/docusaurus-plugin-content-docs/current/references/nft.md
  i18n/zh/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/zh/docusaurus-plugin-content-docs/current/references/nft.md
Labels: translations

#1451 New Crowdin updates
  i18n/de/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/index.md
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/nocodeclarity.md
  i18n/es/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/es/docusaurus-plugin-content-docs/current/contribute/index.md
  i18n/es/docusaurus-plugin-content-docs/current/contribute/translations.md
  i18n/es/docusaurus-plugin-content-docs/current/faq/faq.md
  i18n/es/docusaurus-plugin-content-docs/current/gaia/gaia-on-ec2.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/digitalocean.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-mainnet.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/miner-testnet.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/running-testnet-node.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/fr/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/hi/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/id/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/ja/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/ko/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/pt/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/ru/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/tr/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/vi/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
  i18n/zh/docusaurus-plugin-content-docs/current/understand-stacks/testnet.md
Labels: translations

#1452 New Crowdin updates
  i18n/es/docusaurus-plugin-content-docs/current/contribute/docs.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/running-testnet-node.md
  i18n/es/docusaurus-plugin-content-docs/current/nodes-and-miners/stacks-node-configuration.md
  i18n/es/docusaurus-plugin-content-docs/current/noteworthy-contracts/bns-contract.md
  i18n/es/docusaurus-plugin-content-docs/current/references/glossary.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/index.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/microblocks.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/mining.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/network.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/transactions.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/principals.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/tokens.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/values.md
Labels: translations

#1456 New Crowdin updates
  i18n/fr/docusaurus-plugin-content-docs/current/build-apps/deploy-tips.md
  i18n/fr/docusaurus-plugin-content-docs/current/build-apps/references/references.md
  i18n/fr/docusaurus-plugin-content-docs/current/intro.md
Labels: translations

#1455 Multiple updates and new doc pages
  docs/contribute/index.md
  docs/faq/faq.md
  docs/governance/_index.md
  docs/references/_category_.json
  docs/services-using-stacks/_category_.json
  docs/services-using-stacks/nft.md
  docs/services-using-stacks/other.md
  docs/services-using-stacks/stacks-info-sites.md
  docs/services-using-stacks/swaps.md
  docs/services-using-stacks/wallets.md
  docusaurus.config.js
  static/img/sh_catamaran.png
  static/img/sh_lnswap.png
  static/img/sh_neoswap.png
Labels: docusaurus-config

#1460 New Crowdin updates
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/references/authentication.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/mining.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/stacking.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/technical-specs.md
Labels: translations

#1464 New Crowdin updates
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/references/bns.md
  i18n/es/docusaurus-plugin-content-docs/current/understand-stacks/stacking.md
  i18n/es/docusaurus-plugin-content-docs/current/write-smart-contracts/software.md
Labels: translations

#1465 New Crowdin updates
  i18n/es/docusaurus-plugin-content-docs/current/build-apps/references/bns.md
  i18n/es/docusaurus-plugin-content-docs/current/faq/faq.md
  i18n/es/docusaurus-plugin-content-docs/current/services-using-stacks/defi.md
  i18n/es/docusaurus-plugin-content-docs/current/services-using-stacks/more.md
  i18n/es/docusaurus-plugin-content-docs/current/services-using-stacks/nft.md
  i18n/es/docusaurus-plugin-content-docs/current/services-using-stacks/stacks-info-sites.md
  i18n/es/docusaurus-plugin-content-docs/current/services-using-stacks/wallets.md
Labels: translations

#1472 New Crowdin updates
  i18n/es/docusaurus-plugin-content-docs/current/faq/faq.md
Labels: translations

#1474 New Crowdin updates
  i18n/es/docusaurus-plugin-content-docs/current/faq/faq.md
Labels: translations
