Repository stacks-network/docs, pull requests merged in 2022-05, with the labels that each got.

#1368 added list of translated files eslint check should ignore
  .eslintignore
Labels: bug

#1371 translations ignored files
  .eslintignore
  .prettierignore
Labels: bug

#1377 activate indonesian language
  src/components/header.tsx
Labels: translations

#1394 New Crowdin updates
  src/pages/es/contribute/docs.md
  src/pages/es/gaia/overview.md
  src/pages/es/index.md
  src/pages/es/nodes-and-miners/overview.md
  src/pages/es/understand-stacks/overview.md
  src/pages/es/write-smart-contracts/overview.md
  src/pages/es/write-smart-contracts/tokens.md
Labels: translations

#1396 added automatic labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: feature

#1398 New Crowdin updates
  src/pages/de/understand-stacks/proof-of-transfer.md
  src/pages/es/understand-stacks/proof-of-transfer.md
  src/pages/fr/understand-stacks/proof-of-transfer.md
  src/pages/hi/understand-stacks/proof-of-transfer.md
  src/pages/id/understand-stacks/proof-of-transfer.md
  src/pages/ja/understand-stacks/proof-of-transfer.md
  src/pages/ko/understand-stacks/proof-of-transfer.md
  src/pages/pt/understand-stacks/proof-of-transfer.md
  src/pages/ru/understand-stacks/proof-of-transfer.md
  src/pages/tr/understand-stacks/proof-of-transfer.md
  src/pages/zh/understand-stacks/proof-of-transfer.md
Labels: translations

#1400 New Crowdin updates
  .eslintignore
  src/_data/boot-contracts-reference_vi.json
  src/_data/clarity-reference_vi.json
  src/common/constants_that_require_translations_vi.ts
  src/pages/vi/build-apps/deploy-tips.md
  src/pages/vi/build-apps/overview.md
  src/pages/vi/build-apps/references/authentication.md
  src/pages/vi/build-apps/references/bns.md
  src/pages/vi/contribute/docs.md
  src/pages/vi/contribute/overview.md
  src/pages/vi/contribute/translations.md
  src/pages/vi/faq/overview.md
  src/pages/vi/gaia/deploy-gaia-hub.md
  src/pages/vi/gaia/gaia-on-ec2.md
  src/pages/vi/gaia/overview.md
  src/pages/vi/index.md
  src/pages/vi/nodes-and-miners/digitalocean.md
  src/pages/vi/nodes-and-miners/miner-mainnet.md
  src/pages/vi/nodes-and-miners/miner-testnet.md
  src/pages/vi/nodes-and-miners/overview.md
  src/pages/vi/nodes-and-miners/running-mainnet-node.md
  src/pages/vi/nodes-and-miners/running-testnet-node.md
  src/pages/vi/nodes-and-miners/stacks-node-configuration.md
  src/pages/vi/noteworthy-contracts/bns-contract.md
  src/pages/vi/noteworthy-contracts/stacking-contract.md
  src/pages/vi/references/glossary.md
  src/pages/vi/references/stacks-info-sites.md
  src/pages/vi/understand-stacks/accounts.md
  src/pages/vi/understand-stacks/microblocks.md
  src/pages/vi/understand-stacks/mining.md
  src/pages/vi/understand-stacks/network.md
  src/pages/vi/understand-stacks/overview.md
  src/pages/vi/understand-stacks/proof-of-transfer.md
  src/pages/vi/understand-stacks/stacking.md
  src/pages/vi/understand-stacks/stacks-blockchain-api.md
  src/pages/vi/understand-stacks/technical-specs.md
  src/pages/vi/understand-stacks/testnet.md
  src/pages/vi/understand-stacks/transactions.md
  src/pages/vi/write-smart-contracts/language-functions.md
  src/pages/vi/write-smart-contracts/language-keywords.md
  src/pages/vi/write-smart-contracts/language-overview.md
  src/pages/vi/write-smart-contracts/language-types.md
  src/pages/vi/write-smart-contracts/overview.md
  src/pages/vi/write-smart-contracts/principals.md
  src/pages/vi/write-smart-contracts/software.md
  src/pages/vi/write-smart-contracts/tokens.md
  src/pages/vi/write-smart-contracts/values.md
Labels: translations

#1401 New Crowdin updates
  src/pages/de/gaia/configuration.md
  src/pages/de/gaia/deploy-gaia-hub.md
  src/pages/de/gaia/gaia-on-ec2.md
  src/pages/de/gaia/setup-linux.md
  src/pages/de/gaia/setup-mac.md
  src/pages/es/gaia/configuration.md
  src/pages/es/gaia/deploy-gaia-hub.md
  src/pages/es/gaia/gaia-on-ec2.md
  src/pages/es/gaia/setup-linux.md
  src/pages/es/gaia/setup-mac.md
  src/pages/fr/gaia/configuration.md
  src/pages/fr/gaia/deploy-gaia-hub.md
  src/pages/fr/gaia/gaia-on-ec2.md
  src/pages/fr/gaia/setup-linux.md
  src/pages/fr/gaia/setup-mac.md
  src/pages/hi/gaia/configuration.md
  src/pages/hi/gaia/deploy-gaia-hub.md
  src/pages/hi/gaia/gaia-on-ec2.md
  src/pages/hi/gaia/setup-linux.md
  src/pages/hi/gaia/setup-mac.md
  src/pages/id/gaia/configuration.md
  src/pages/id/gaia/deploy-gaia-hub.md
  src/pages/id/gaia/gaia-on-ec2.md
  src/pages/id/gaia/setup-linux.md
  src/pages/id/gaia/setup-mac.md
  src/pages/ja/gaia/configuration.md
  src/pages/ja/gaia/deploy-gaia-hub.md
  src/pages/ja/gaia/gaia-on-ec2.md
  src/pages/ja/gaia/setup-linux.md
  src/pages/ja/gaia/setup-mac.md
  src/pages/ko/gaia/configuration.md
  src/pages/ko/gaia/deploy-gaia-hub.md
  src/pages/ko/gaia/gaia-on-ec2.md
  src/pages/ko/gaia/setup-linux.md
  src/pages/ko/gaia/setup-mac.md
  src/pages/pt/gaia/configuration.md
  src/pages/pt/gaia/deploy-gaia-hub.md
  src/pages/pt/gaia/gaia-on-ec2.md
  src/pages/pt/gaia/setup-linux.md
  src/pages/pt/gaia/setup-mac.md
  src/pages/ru/gaia/configuration.md
  src/pages/ru/gaia/deploy-gaia-hub.md
  src/pages/ru/gaia/gaia-on-ec2.md
  src/pages/ru/gaia/setup-linux.md
  src/pages/ru/gaia/setup-mac.md
  src/pages/tr/gaia/configuration.md
  src/pages/tr/gaia/deploy-gaia-hub.md
  src/pages/tr/gaia/gaia-on-ec2.md
  src/pages/tr/gaia/setup-linux.md
  src/pages/tr/gaia/setup-mac.md
  src/pages/vi/gaia/configuration.md
  src/pages/vi/gaia/deploy-gaia-hub.md
  src/pages/vi/gaia/gaia-on-ec2.md
  src/pages/vi/gaia/setup-linux.md
  src/pages/vi/gaia/setup-mac.md
  src/pages/zh/gaia/configuration.md
  src/pages/zh/gaia/deploy-gaia-hub.md
  src/pages/zh/gaia/gaia-on-ec2.md
  src/pages/zh/gaia/setup-linux.md
  src/pages/zh/gaia/setup-mac.md
Labels: translations

#1404 fix: Clarity functions reference autogenerates with bugs #1306
  src/components/toc.tsx
Labels: bug

#1406 Auto approve translations
  .github/workflows/auto-approve-translations.yml
Labels: feature
